# Default code owners
* @arslanbasharat-o-o

# GitHub workflows and templates
/.github/ @arslanbasharat-o-o

# Subprojects
/image-scraper/ @arslanbasharat-o-o
/image-scraper/docs/ @arslanbasharat-o-o
/parts-extractor/ @arslanbasharat-o-o
